@import "tailwindcss";

:root {
  --font-sans: var(--font-work-sans);
  --radius: 0.625rem;

  --primary: #5ac0f1;
  --foreground: oklch(0.129 0.042 264.695);
  --background: #ffffff;
}

.dark {
  --primary: oklch(0.929 0.013 255.508);
  --foreground: oklch(0.984 0.003 247.858);
  --background: oklch(0.129 0.042 264.695);
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-sans;
}

@layer utilities {
  .heading {
    @apply uppercase bg-black px-6 py-3 font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl mx-auto text-center my-5;
  }

  .sub-heading {
    @apply font-medium text-[30px] text-black max-w-2xl;
  }

  .header-container {
    @apply w-full min-h-[530px] flex justify-center items-center flex-col py-10 px-6;
  }

  .section-container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  /* search */
  .search-form {
    @apply max-w-2xl w-full min-h-[80px] bg-white rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
  }

  .search-input {
    @apply flex-1 font-bold placeholder:font-semibold w-full h-auto outline-none bg-white; 
  }

  .search-btn {
    @apply size-[50px] rounded-full bg-black flex justify-center items-center;
  }

  /* card */
  .card-grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .card-grid-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }

  /* post card */
  .post-card {
    @apply bg-white py-6 px-5 rounded-[22px] transition-all duration-500 flex flex-col justify-between;
  }

  .post-card:hover {
    background: linear-gradient(270deg, var(--primary), #fbe843, #ee2b69);
    background-size: 600% 600%;
    animation: gradient-move 8s ease infinite;
  }

  .post-card-top {
    @apply flex justify-between items-center mb-4;
  }

  .post-card-date {
    @apply text-sm font-medium bg-white text-black px-4 py-1 rounded-full;
  }

  .post-card-views {
    @apply flex items-center gap-1.5 text-black text-sm;
  }

  .post-card-author {
    @apply text-blue-800 line-clamp-1;
  }

  .post-card-title {
    @apply font-bold text-lg my-1;
  }

  .post-card-desc {
    @apply font-normal text-[16px] text-black/80 line-clamp-2 my-2 break-words;
  }

  .post-card-img {
    @apply w-full h-[164px] rounded-[10px] object-cover border border-black;
  }

  .post-card-footer {
    @apply mt-3 flex items-center justify-between;
  }

  .post-card-category {
    @apply text-sky-700;
  }

  .post-card-btn {
    @apply rounded-full font-medium text-[14px] text-white bg-black px-5 py-2;
  }

  .post-card-skeleton {
    @apply w-full h-96 rounded-[22px] bg-zinc-400;
  }

    .post-card-profile {
    @apply shrink-0 rounded-full object-cover border border-black;
  }


  .animated-gradient {
    background: linear-gradient(270deg, var(--primary), #fbe843, #ee2b69);
    background-size: 600% 600%;
    animation: gradient-move 8s ease infinite;
  }

  .custom-shadow {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  button {
    cursor: pointer;
  }
}
